.box{
	width: 100px;
	height: 100px;
	background-color: #ff3881;
	position: absolute;
/*	top: 50%;
	left: 50%;
	/*transform: rotateY(-30deg);*/
/*	transform: translateY(50px, 50px);
	transform: translate(-50%, -50%);*/
	top: 250px;
	left: 250px;
	transform: scale(2.0) rotate(45deg);
}
.outter{
	width: 600px;
	height: 600px;
	border: 1px solid #000;
	position: relative;
	perspective: 100px;
}