/*global*/
*{
	position: relative;
	box-sizing: border-box;
}
body{
	font-family: arial;
}
/* 框線的設定 */
.container{
	width: 1170px;
	height: 100%;
	margin: 0 auto;
	border: 1px solid #999;
	padding: 0 15px;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.row:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;

}

.col-1-2,.col-1-3,.col-5-6,.col-1-6{
	float: left;
	padding: 0 15px;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.33333%;
}
.col-5-6{
	width: 83.33333%;
}
.col-1-6{
	width: 16.66667%;
}

.wrapper{
	overflow: hidden;
}

/* custom */
.elements{
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}

.givepadding{
	padding-top: 150px;
	padding-bottom: 180px;
}
.main-bg{
	background: linear-gradient(50deg, 
		#ff4169 0, #7c26f8 100%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.navbar{
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.navbar .elements{
	height: 80px;
}

/* jumbotron */
.jumbotron{
	border: 1px solid #000;
	padding-top: 100px;
	padding-bottom: 80px;
}
.jumbotron .elements{
	height: 500px;
}

/*whatson*/
.whatson{
	background-color: #fff;
}
.whatson .album .album-art{
	float: left;
	width: 50%;
}
.whatson .album .album-art .elements{
	height: 300px;

}

/*albums*/
.albums .elements{
	height: 400px;
}
.albums .phone-group{
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(30deg) translate(185px, -510px);
	
}
.albums .phone-group .phone{
	width: 358px;
	height: 730px;
	border: 5px solid #7c25f8;
	background-color: #fff;
	border-radius: 40px;
	margin-bottom: 30px;
}
.albums .phone-group .phone1,.phone4{
	margin-top: 200px;
}

/*device*/
.device{
	background-color: #222326;
}
.device .elements{
	height: 300px;
}

/*subscription*/
.subscription{
	padding-bottom: 0;
}
.subscription .elements{
	height: 800px;
}

/*footer*/
.footer{
	padding-top: 80px;
	padding-bottom: 50px;
	background-color: #000;
}
.footer .elements{
	height: 300px;

}
.footer .row-small{
	margin-top: 100px;
}

.footer .row-small .elements{
	height: 40px;
}