*{
    position: relative;
    box-sizing: border-box;
}

.imgbox{
    border: 1px solid #000;
    width: 50%;
    overflow: hidden;
}
.imgbox-inner{
    width: 100%;
    padding-top: 75%;
    /* height: 75%; */
    position: relative;
}
.imgbox .image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}