*{
	position: relative;
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.wrapper{
	height: 100%;
	background-color: #1e1e1e;
}
.btn{
	color: #ffbb33;
	text-decoration: none;
	font-family: 微軟正黑體;
	border: 1px solid #ffbb33;
	background-color: #ffbb33;
	display: inline-block;
	width: 56px;
	line-height: 56px;
	border-radius: 28px;

	position: absolute;
	right: 100px;
	top: 100px;
	transition: all 2s;
	overflow: hidden;
}
.btn:hover{
	padding: 0 25px;
	width: auto;
	background-color: #1e1e1e;

}
.btn span{
	white-space: nowrap;
	opacity: 0;
}
.btn:hover span{
	opacity: 1;
	/*transition: all 2s;*/
}
.btn:after{
	content: "+";
	font-size: 40px;
	line-height: 50px;
	color: #1e1e1e;
	position: absolute;
	right: 13px;
	top: 0;
}
.btn:hover:after{
	opacity: 0;
	/*transition: all 2s;*/
}