*{
	position: relative;

}
html,body{
	padding: 0;
	margin: 0;
	height: 100%;
}
.wrapper{
	height: 100%;
	background-color: #333;

}
.btn{
	color: #fff;
	text-decoration: none;
	font-family: 微軟正黑體;
	border: 1px solid #ff1965;
	background-color: #ff1965;
	padding: 10px 30px;
	line-height: 24px;
	/*display: inline-block;*/
	border-radius: 22px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
.btn:before{
	content: "";
	/*display: inline-block;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 0%;
	padding-top: 100%;
	background-color: rgba(256, 256, 256, 0.2);
	border-radius: 50%;
	transition: all 0.2s;
}
.btn:hover:before{
	width: 120%;
	padding-top: 120%;
}
.btn:hover:active{
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.5);
}