.outter {
    height: 300px;
    border: 1px solid #000;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #68a2ff;
}

.box1 {
    margin: 0 auto;
}

.outter2 {
    text-align: center;
}

.outter2 .box {
    display: inline-block;
    text-align: left;
}

.outter3 {
    display: flex;
}

.outter3 .box {
    /*margin:0 auto;*/
    align-self: center;
}

.outter4 {
    position: relative;
}

.outter4 .box {
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translateX(-50%);
}

.box5 {
    text-align: center;
    line-height: 200px;
}