*{
	position: relative;
	box-sizing: border-box;
	font-family: arial;
	background-color: #000;
}
html,body{
	height: 100%;
}

.ball{
	width: 100px;
	height: 100px;
	/*border: 15px solid #fff;*/
	background-color: #FFD306;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 37%;
	transform: translate(-50%, -50%);
	animation: ballflash 0.5s 1s linear,
				balldown 0.5s 1.5s both;

}

.rec {
	font-size: 120px;
	color: #FFD306;
	position: absolute;
	top: 50%;
	left: 56%;
	transform: translate(-50%, -50%);
	animation: recdown 0.5s 1.5s forwards;
}

.keybord{
	width: 400px;
	height: 20px;	
	background-color: #FFD306;
	border-radius: 0px 0px 30px 30px;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: keybordup 0.5s 1.7s backwards linear;
}

.display{
	width: 300px;
	height: 250px;
	border: 20px solid #FFD306;
	border-radius: 10%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: displayup 0.3s 1.7s backwards linear;
}

.ball2{
	width: 150px;
	height: 150px;
	background-color: #FFD306;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ball2up 0.3s 2s backwards linear;

}

.arrow_triangle{
	border-right: 50px solid #FFD306;
	border-left: 50px solid #FFD306;
	border-bottom: 60px solid #000;
	background-color: #FFD306;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: arrow_triangle_up 0.3s 2.4s backwards linear;

}
.arrow_square{
	width: 50px;
	height: 50px;
	background-color: #000;
	/*display:inline-block;*/
	position: absolute;
	top: 55.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: arrow_square_up 0.3s 2.4s backwards linear;
}

@keyframes ballflash{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes balldown{
	0%{
		/*bottom: 100%;*/
	}
	50%{
		top: 70%;
	}
	100%{
		top: 60%;
		opacity: 0;
	}
}

@keyframes recdown{
	0%{
		/*bottom: 100%;*/
	}
	50%{
		top: 70%;
	}
	100%{
		top: 60%;
		opacity: 0;
	}
}

@keyframes keybordup{
	0%{
		opacity: 0;
		top: 80%;
	}
	100%{
		opacity: 1;
		top: 60%;
	}
}

@keyframes displayup{
	0%{
		opacity: 0;
		top: 70%;
	}
	100%{
		opacity: 1;
		top: 50%;
	}
}

@keyframes ball2up{
	0%{
		opacity: 0;
		top: 70%;
	}
	80%{
		/*opacity: 1;*/
		top: 45%;
	}
	100%{
		opacity: 1;
		top: 50%;
	}
}

@keyframes arrow_triangle_up{
	0%{
		opacity: 0;
		top: 70%;
	}
	80%{
		/*opacity: 1;*/
		top: 45%;
	}
	100%{
		opacity: 1;
		top: 50%;
	}
}

@keyframes arrow_square_up{
	0%{
		opacity: 0;
		top: 70%;
	}
	80%{
		/*opacity: 1;*/
		top: 45%;
	}
	100%{
		opacity: 1;
		top: 50%;
	}
}