.btn{
	color: #666;
	text-decoration: none;
	font-size: 20px;
	font-family: arial;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	position: relative;
}

/*偽類選擇器*/
.btn:hover{ /*hover盤旋 也就是滑鼠在元素上的意思*/
	color: #ff9b19;
}
.btn:active{ /*active點擊 滑鼠點擊時的效果*/
	color: red;
}

/*偽元素*/
.btn:before{
	content: "";
	width: 0%;
	height: 3px;
	background-color: #ff9b19;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	transition: width 0.3s;
}
.btn:after{
	content: "";
	width: 0%;
	height: 3px;
	background-color: #ff9b19;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.3s;
}
.btn:hover:before{
	width: 100%;

}
.btn:hover:after{
	width: 100%;
}