body{
	height: 3000px;
}


.post{
	width: 300px;
	height: 300px;
	font-size: 30px;
	font-family: 微軟正黑體;
}
.non-position{
	background-color: #acdbc9;
}
.relative1{
	background-color: #fdd2b5;
	position: relative; /*已自身做定位*/
	top: 200px;
	left: 200px;
	z-index: 2;
}
.relative2{
	background-color: #f7a7a6;
	position: relative;
	top: 100px;
	left: 100px;
	z-index: 1;
}