.row{
	background-color: #aacbff;
	padding: 20px;
	display: flex;
}
.col{
	height: 300px;
	background-color: #2f66bc;
	border: 1px solid #6da6ff;

	box-sizing: border-box;
	padding: 0 8px;

	flex: 1;
}

.col-1{
	flex: 2;
}