/* Globel */
*{
	position: relative;
	box-sizing: border-box;
}
body,html{
	padding: 0;
	margin: 0;
}
/* Grid */
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding-right: 16px;
	padding-left: 16px;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.row:after,.row:before{
	content: " ";
	display: table;
}
.row:after{
	clear: both;
}
.col-1-1,.col-1-2,.col-1-3,.col-1-4{
	padding-right: 8px;
	padding-left: 8px;
	float: left;
}
.col-1-1{
	width: 100%;
}
.col-1-3{
	width: 33.33333%;
}
.col-1-2{
	width: 50%;
}
.col-1-4{
	width: 25%;
}

@media (min-width: 480px){
	.col-sm-1-3{
		width: 33.33333%;
	}
	.col-sm-1-2{
		width: 50%;
	}
}
@media (min-width: 768px){
	.col-md-1-4{
		width: 25%;
	}
}



@media screen {
	
}














/* 假裝是內容/元件 */
.content{
	height: 100px;
	border: 1px solid #000;
}