.row:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.col{
	box-sizing: border-box;
	float: left;
	width: 33.33333%;
	height: 300px;
	background-color: #66a0ff;
	border: 1px solid #d6e5ff;
}
@media (min-width: 768px){
	.col{
		width: 50%;
	}
}
@media (min-width: 1024px){
	.col{
		width: 100%;
	}
}

.row {
	background-color: #000;
}