body{
	height: 3000px;
}

.post{
	width: 300px;
	height: 300px;
	border: 1px solid #000;
	font-size: 30px;
	font-family: 微軟正黑體;
}

.static{
	background-color: #acdbc9;
	position: staitc;
}
.relative{
	background-color: #fdd2b5;
	position: relative;
	top: -100px;
	left: 100px;
}
.outter{
	width: 600px;
	height: 1200px;
	border: 5px solid #000;
	position: relative;
	right: 100px;
	top: 0;
}
.absolute{
	background-color: #f7a7a6;
	position: absolute;
	top: 0;
	right: 0;
}
.fixed{
	background-color: #f48b94;
	position: fixed;
	left: 0;
	bottom: 0;
}