html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}
.wrapper{
	height: 100%;
	background-color: #ccc;
	position: relative;
}
.ball{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #38b9ff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/*animation: moveRight;
	animation-duration: 1s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	animation-timing-function: linear;
	animation-fill-mode: both;*/

	animation: moveRight 1s 2s both, 
			turnToCard 1s 3s forwards;

}
.ball span{
	/*HI*/
	font-family: 微軟正黑體;
	font-size: 80px;
	color: #000;
	position: absolute;
	top: 300%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	animation: HIIn 1s 4s forwards;
	/*animation-timing-function: linear;*/
}

@keyframes moveRight{
	0%{
		left: 30%;
	}
	100%{
		left: 70%;
	}
}
@keyframes turnToCard{
	0%{
		width: 50px;
		height: 50px;
	}
	100%{
		width: 300px;
		height: 300px;
		border-radius: 0;
		background-color: #ffe8a5;
	}
}
@keyframes HIIn{
	0%{
		top: 200%;
	}
	100%{
		top: 50%;
		/*left: 50%;*/
		/*transform: translate(-50%, -50%);*/
		opacity: 1;
	}

}