*{
    position: relative;
    box-sizing: border-box;
}

body {
    font-family: 微軟正黑體, arial;
}

a {
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
    /* border: 1px solid #999; */
    padding: 0 24px;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.col-1-3,
.col-1-2,
.col-2-3,
.col-1-4,
.col-5-6,
.col-1-6{
    float: left;
    padding: 0 8px;
}
.col-1-3{
    width: 33.33333%;
}
.col-2-3{
    width: 66.66667%;
}
.col-1-2{
    width: 50%;
}
.col1-4{
    width: 25%;
}
.col-5-6{
    width: 83.33333%;
}
.col-1-6{
    width: 16.66667%;
}

/* utility*/
.u-block{
    display: block;
}
.u-cf::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* conponent */

.navbar{
    background-color: #3a3a3a;
}

.navbar .logo{
    float: left;
    height: 32px;
    margin-top: 28px;
}
.navbar .logo img{
    height: 100%;
}
.menu{
    float: right;
}
.menu > li{
    float: left;
    color: #000;
}
.menu > li > a{
    display: block;
    line-height: 24px;
    padding: 28px 16px;
    margin-right: 4px;
}
.menu > li > a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    /* background-color: #ff5e41; */
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.menu > li > a.current:after,
.menu > li:hover > a::after{
    width: 100%;
}
.menu .dropdown{
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translateX(-50%);
    border: 1px solid #000;
    width: 200px;
    background-color: #3a3a3a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.menu > li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.menu .dropdown > li > a{
    display: block;
    line-height: 24px;
    padding: 8px 24px;
    color: #fff;
    width: 200px;
    transition: all 0.3s;
}

.menu .dropdown > li > a:hover{
    background-color: #ff5e41;
}

.carcontainer{
    width: 100%;
    border: 1px solid #000;
}
.imgbox{
    display: block;
}
.imgbox .imgbox-inner{
    width: 100%;
    padding-top: 75%;
}
.imgbox .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.infocontainer{
    padding-top: 8px;
    color: #484848;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.infocontainer .roomname{
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /*ellipsis 文字超過變...*/
}
.infocontainer .detail{
    font-weight: 300;
}
.infocontainer .starratingcontainer{
    margin-top: 4px;
}
.infocontainer .starratingcontainer 
.staricon{
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    /* border: 1px solid #000; */
    background-image: url(./images/star.svg);
    background-position: center;
    background-size: cover;
    margin-right: 3px;
}
.infocontainer
.starratingcontainer
.comment{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    text-overflow: ellipsis;
}