.row{
	height: 500px;
	background-color: #aacbff;
	padding: 20px;
}

.col{
	height: 300px;
	/*background-color: #2f66bc;*/
	border: 1px solid #6da6ff;

	display: inline-block;
	vertical-align: top;

	box-sizing: border-box;
	width: 20%;
	padding: 0 8px;

}

.content{
	background-color: #fff;
}