*{
    position: relative;
    box-sizing: border-box;
}

.imgbox{
    border: 1px solid #000;
    width: 400px;
    overflow: hidden;
}

.imgbox-inner {
    width: 100%;
    padding-top: 100%;
    height: 0;
    position: relative;
}

.imgbox .image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    max-height: 100%;
}
