*{
    position: relative;
    box-sizing: border-box;
}

.imgbox{
    width: 30%;

}

.imgbox-inner{
    width: 100%;
    padding-top: 75%;
    border: 1px solid red;
    /* height: 75%; */
}

.imgbox-fit {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
}

.imgbox-fit .image {
    width: 100%;
    display: block;
    object-fit: cover;
    height: inherit;
}


.imgbox .image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}