.row{
	background-color: #aacbff;
	padding: 20px;
}
.col{
	height: 300px;
	background-color: #2f66bc;
	border: 1px solid #6da6ff;

	box-sizing: border-box;
	width: 33.33333%;
	padding: 0 8px;

	float: right;
}
.content{
	background-color: #fff;
}
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.footer{
	height: 64px;
	background-color: #666;
}