/*選擇器{
	樣式內容
}*/

/*權重 0-0-1-0-0*/
/*#card{
	width: 400px;
}*/

/*權重 0-0-0-1-0*/
/*div加入class則不會將全部div套用統一格式*/
.colorPalette{
	width: 400px;
	/*border: 1px dotted; black;*/   
	/*solid 為實線框 dashed為斷線框 dotted為點線框*/
	
	/*box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);*/
	/*X軸偏移項右為正 Y軸向下為正 模糊直向右下模糊20px rgba陰影顏色(前三項為三原色 第四項為透明值)*/

	/*height: 400px;*/
	background-color: #ccc;
	/*border: 20px solid #000;*/
	/*padding: 40px 30px 20px 10px; /*第一個值為上下 第二個為左右*/ /*四個值的話分別為上右下左*/*/
	/*margin: 50px;*/
	/*box-sizing: border-box;/*border-box指的是整個大小為邊界大小，以這為例子來說現在寬度400px 
								所以整個盒模型大小為400px 其他的設定值如padding margin border的值
								則會以像內推的方式計算內容*/*/
	margin-bottom: 50px;
	/*overflow: hidden;*/
	border: 1px solid #000;


}

/*權重 0-0-0-0-1*/
div{
	width: 200px /*!important*/;
				/*importan 繼承最高權重 1-0-0-0-0*/
}

.colorPalette .color{
	font-size: 18px;
	font-family: 微軟正黑體;
	/*background-color: #ccc;*/
	color: #fff;
	line-height: 2;
	text-align: center;
	margin: 0;
}	

/*權重 0-0-0-2-0*/
.colorPalette .color1{
	/*background-color: #000;*/
}
/*權重 0-0-0-1-0*/
.color1{
	background-color:#ACDBC9;
}

.color.color2{
	background-color:#DBEBC2;
}
.color.color3{
	background-color:#FDD2B5;
}
.color.color4{
	background-color:#F7A7A6;
}
.color.color5{
	background-color:#F48B94;
	height: 200px;
}

#colorGreen{
	height: 60px;
}