.box{
	width: 100px;
	height: 100px;
	background-color: #ff0043;
	position: fixed; /*針對螢幕做定位*/
	top: 50%;
	left: 50%;
	/*transform: translate(-50%, -50%);
	transition-property: width, height;/*轉場*/
	/*transition-duration: 0.5s, 1s;/*對齊property設定*/
	/*transition-delay: 0.5s, 0.5s;
	transition-timing-function: cubic-bezier(.17,.67,.61,.09);
*/
/*
	transition: width 0.5s 1s ease-in, height 
				0.5s 1s;/*寬度 delay*/

	transition: all 0.5s ease-in;

}
.box:hover{
	width: 200px;
	height: 200px;
}